body {
  background-color: #1B191C;
  color: #c8c8c8;
}

.container {
  width: 65%;
  margin: auto;
  margin-top: 100px;
}

p {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  padding: 20px 0px 0px 0px;
  line-height: 1.45em;
  font-size: 16pt;
}

h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 50pt;
  color: #b6ab4f;
}

h2 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 26pt;
  font-weight: lighter;
  padding-bottom: 40px;
  width: 85%;
  color: #656866;
}

h4 {
  font-family: sans-serif;
  color: #656866;
}

cite {
  font-size: 1.5em;
}

hr {
  margin-bottom: 40px;
}

.imgdiv {
  margin-top: 40px;
  width: 50%;
}

img {
  border: 1px solid #000;
}


@media screen and (max-width: 1024px) {
  body {
  background-color: #4d0000;
  color: #ffffff;
}

.container {
  width: 85%;
  margin: auto;
  margin-top: 100px;
}

p {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
 
}

h1 {
  font-family: Redaction;
  font-weight: 1000;
  color: #faf08a;
  text-decoration:underline;
  font-size:8em;
  letter-spacing: 10px;
}

h2 {
  font-family: Redaction;
  color: black;
}

h4{
  color:black;
}

img {
  border:double 10px;
  align-items: left;
}

}

 @media screen and (max-width: 768px) {
   body {
  background-color:white ;
  color:#4d0000 ;
}

.container {
  width: 65%;

}

p {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  line-height: 45px;
 
}

h1 {
  font-family: Redaction;
  font-size: 6em;
  color: #4d0000;
  text-align: center;
 
}
h1:hover{

}

h2 {
  font-family: Redaction;
  color: #faf08a;
  line-height: 50px;
  text-align: center;
  width: 400px;

}




.imgdiv {
  margin-top: 40px;
  width: 30%;
  height:20%;
}

img {
  border:dashed 10px;
  border-color:#faf08a;
  width: 300%;
}

 }

@media screen and (max-width: 600px){
     body {
  background-color:#4d0000 ;
  color:#4d0000 ;
}

.container {
  width: 95%;
  margin: auto;
  margin-top: 100px;
}

p {
  font-family: Redaction;
  font-weight: 500;
  color:white;
  text-align: left;
  font-size:18pt;
  width: 100%;
 
}

h1 {
  font-family: Redaction 10;
  font-size: 8.5em;
  color: #faf08a;
  text-align: center;
  text-decoration:none;
  letter-spacing: 10px;
  font-style: bold;
 
}

h2 {
  font-family: 'Rubik', sans-serif;
  color: white;
  line-height: 50px;
  text-align: left;
  width: 400px;
  width: 100%;

}

h4{
  color: #faf08a;
}




.imgdiv {
  margin-top: 40px;
  width: 30%;
  height:20%;
}

img {
  border: dotted 6px;
  border-color:#faf08a;
  width: 300%;

}

}